* {
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    background: #0e1111;
}

.header {
    background: #D3D3D3;
    height: fit-content;
    margin: 0;
    padding: 10px 10px 20px 10px;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
    display: flex;
}

.header_right {
    border-right: 120px solid #D3D3D3;
}

.app {
    background: #365090;
    width: 1200px;
    height: 977px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
}

.sign-in-box {
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
    display: flex;
}

.profile {
    font-size: 100px;
    width: 600px;
    background: aqua;
    margin-top: 10px;
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.padding {
    padding: 10px;
}

.small-input {
    font-size: 5px;
    background-color: #365090;
    padding: 2px 5px;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 15px 10px 10px 25px;
    cursor: pointer;
}

.border {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.left {
    margin-left: 0;
    margin-right: auto;
}

input[type="text"] {
    font-size: 15px;
}

input[type="password"] {
    font-size: 15px;
}

h3:hover {
    color: #F5F5F5;
}

h1:hover {
    color: #F5F5F5;
}