* {
    box-sizing: border-box;
    font-family: "Times New Roman", serif !important;
}

:root {
    --app-color: #495464;
    --content-color: #e8e8e8;
    --header-color: #f4f4f2;
    --button-color: blue;
    --hover-color: #495464;
    --border-color: #373a40;
}

.center {
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    background: #222831;
}

.header {
    background: var(--header-color);
    height: fit-content;
    margin: 0;
    padding: 5px;
    display: inline-flex;
    width: 100%;
}

.header-area {
    height: fit-content;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.link-item {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.title-box {
    height: fit-content;
    width: 50%;
    display: inline-flex;
    justify-content: flex-start;
    margin: 0 0 5px 10px;
}

.app {
    background: var(--app-color);
    width: 100%;
    height: fit-content;
    min-height: 1000px;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0 auto;
}

.sign-in-box {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    max-width: 50%;
}

.profile {
    width: 100%;
    margin-top: 10px;
}

.posts {
    width: 85%;
    display: block;
}

.padding {
    padding: 10px;
}

.small-input {
    font-size: 5px;
    background-color: #365090;
    padding: 2px 5px;
}

.create-account {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.post-banner-rect {
    background: var(--content-color);
    margin: 0;
    padding: 0 auto;
    width: 100%;
    height: 50px;
    text-align: left;
    display: flex;
}

.post-banner-text {
    width: 100%;
    height: 50px;
    /* top, left right, center */
    margin: 7px 15px 10px;
    display: flex;
}

.view-post-rect {
    width: 60%;
    height: fit-content;
    display: block;
}

.view-post-top-content {
    display: flex;
}

.view-post-page {
    width: 100%;
    padding: 10px;
    height: fit-content;
}

.view-post-body-rect {
    background: var(--content-color);
    margin-left: 10px;
    padding: 0 auto;
    width: calc(100% - 10px);
    height: fit-content;
    text-align: left;
}

.view-post-body-text {
    width: fit-content;
    padding-top: 12px;
    padding-left: 5px;
    padding-bottom: 10px;
    /* top, left right, center */
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
}

.new-post-box {
    background: var(--content-color);
    margin-left: 10px;
    padding: 0 auto;
    width: calc(40% - 10px);
    height: fit-content;
    text-align: center;
    display: block;
}

.new-post-button-area {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px;
}

.reply-box-area {
    width: 100%;
    padding: 20px 40px 20px 20px;
    display: block;
    text-align: left;
}

.home-content {
    width: 100%;
    height: fit-content;
    margin-top: 0;
    display: flex;
    padding: 10px;
}

.new-post-title-rect {
    background: var(--content-color);
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: fit-content;
    text-align: left;
    display: block;
}

.new-post-title-text {
    width: calc(100% - 30px);
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.new-post-body-text {
    width: calc(100% - 40px);
    padding-top: 12px;
    padding-left: 5px;
    padding-bottom: 10px;
    /* top, left right, center */
    margin-top: 5px;
    margin-left: 10px;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.left {
    margin-left: 0;
    margin-right: auto;
}

.border-black {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.border-white {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.border-custom {
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 1px 0;
}

.page-divider {
    text-align: left;
    background-color: #0e1111;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    width: 100%;
}

.comment-rect {
    background: var(--content-color);
    padding: 0 auto;
    height: fit-content;
    text-align: left;
    display: block;
}

.comment-text {
    width: 100%;
    height: fit-content;
    /* top, left right, center */
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
    padding: 10px 25px 0 10px;
    display: flex;
}

.comment-reply {
    width: 100%;
    height: 35px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    display: block;
}

.comment-text-area {
    width: 60%;
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

button.link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    margin: 0;
    color: #069;
    cursor: pointer;
    height: 25px;
}

button.link:focus { outline: none; }

button.link:hover {text-decoration: underline;}


input[type="text"] {
    font-size: 15px;
}

input[type="password"] {
    font-size: 15px;
}

h3:hover {
    color: var(--hover-color);
    cursor: pointer;
}

h4.link:hover {
    color: var(--hover-color);
    cursor: pointer;
}

h5.link:hover {
    color: var(--hover-color);
    cursor: pointer;
}

h1:hover {
    color: var(--hover-color);
    cursor: pointer;
}

p.title:hover {
    color: var(--hover-color);
    cursor: pointer;
}

p.link-item:hover {
    color: var(--hover-color);
    cursor: pointer;
}

img.upvote:hover {
    cursor: pointer;
}