* {
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    background: #0e1111;
}

.header {
    background: #D3D3D3;
    height: fit-content;
    margin: 0;
    padding: 10px 10px 20px 10px;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
    border-radius: 10px;
    display: flex;
}

.header_right {
    border-right: 120px solid #D3D3D3;
}

.app {
    background: #365090;
    width: 1200px;
    height: 888px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
}

.sign-in-box {
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
    border-radius: 10px;
    display: flex;
}

.profile {
    font-size: 100px;
    width: 600px;
    background: aqua;
    margin-top: 10px;
    padding: 10px;
}

.posts {
    width: 60%;
    display: block;
}

.padding {
    padding: 10px;
}

.small-input {
    font-size: 5px;
    background-color: #365090;
    padding: 2px 5px;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 15px 10px 10px 25px;
    cursor: pointer;
}

.create-account {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.border-black {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.post-banner-rect {
    border-radius: 10px;
    background: #D3D3D3;

    padding: 0 auto;
    width: 100%;
    height: 50px;
    text-align: left;
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
}

.post-banner-text {
    width: 100%;
    height: 50px;
    /* top, left right, center */
    margin: 7px 15px 10px;
    display: flex;
}

.view-post-full-rect {
    width: 60%;
    margin-top: 10px;
    height: fit-content;
    display: block;
}

.view-post-body-rect {
    border-radius: 10px;
    background: #D3D3D3;
    margin-left: 10px;
    padding: 0 auto;
    width: calc(100% - 10px);
    height: fit-content;
    text-align: left;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
}

.view-post-body-text {
    width: fit-content;
    padding-top: 12px;
    padding-left: 5px;
    padding-bottom: 10px;
    /* top, left right, center */
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
}

.new-post-box {
    border-radius: 10px;
    background: #D3D3D3;
    margin-left: 10px;
    padding: 0 auto;
    /*width: calc(40% - 20px);*/
    width: calc(40% - 10px);
    height: fit-content;
    text-align: center;
    display: block;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 0;
}

.new-post-button-area {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px;
}

.home-content {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.left {
    margin-left: 0;
    margin-right: auto;
}

input[type="text"] {
    font-size: 15px;
}

input[type="password"] {
    font-size: 15px;
}

h3:hover {
    color: #F5F5F5;
    cursor: pointer;
}

h4.link:hover {
    color: #F5F5F5;
    cursor: pointer;
}

h1:hover {
    color: #F5F5F5;
    cursor: pointer;
}